{% extends 'main/base.html' %}
{% load custom_filters %}
{% load static %}


{% block title %}
Finance Tracker
{% endblock %}

{% block htmlhead %}
<link rel="stylesheet" href="{% static 'css/financeTrackerStyles.css' %}">
{% endblock htmlhead %}

<div id="content">
    {% block content %}
    <h1>Finance Tracker</h1>

    <!-- The instructions div to show the website flowchart and link to the help menu. Can be toggled to not show-->
    <div id="instructionsDiv" class="bg-light p-4 rounded shadow-sm mt-4 text-center">
        <h2 style="display: inline;">Instructions</h2>
        <!-- The margin top is to ensure the y position of both elements are the same-->
        <button id="toggleInstructionsBtn" class="btn btn-primary mb-4" style="margin-top: 10px;">Hide</button>
        <div id="instructionsDivContent">
            <img src="{% static 'images/pureFinanceFlowChart.png' %}" alt="Pure Finance Flow Chart" class="img-fluid rounded" style="max-width: 60%; display: block; margin: 0 auto;">
            <p style="font-size: 18px; margin-top: 20px;">Visit our <a href="/help">help</a> menu for more detailed instructions</p>
        </div>
    </div>

    <!-- Intial Balance-->
    <div class="bg-light p-4 rounded shadow-sm text-center mt-4">
        <div id="viewInitialBalance">
            <h4><strong>Initial Balance: </strong>
                <span id="initialBalance" class="balance-text">${{ initial_balance|format_money }}</span>
                
                <!-- This is a text rather than a number as that is neccesary for input validation -->
                <input type="text" id="initialBalanceInput" class="form-control form-control-sm d-none" value="{{ initial_balance }}" step="0.01" style="width: 150px; display: inline-block; font-size: 18px;" oninput=validatePositiveNumber(this)>
                
                <!-- A negative margin top moves it up a little, which is needed to align with the text and input -->
                <button id="editInitialBalanceBtn" style="margin-top: -5px;" class="btn btn-primary btn-sm ms-2 edit-mode-initial-balance">Edit</button>
                <button id="cancelInitialBalanceBtn" style="margin-top: -5px;" class="btn btn-secondary btn-sm ms-2 d-none">Cancel</button>
            </h4>
            <!-- Radio buttons for Positive/Negative -->
            <div id="balanceSignOptions" class="d-none">
                <input type="radio" id="positiveBalance" name="balanceSign" value="positive" checked> Positive
                <input type="radio" id="negativeBalance" name="balanceSign" value="negative"> Negative
            </div>
        </div>
        
        <div id="initialBalanceMessage" class="mt-3">It is recommended to fill in your net worth before your start using the finance tracker. <br>You can do this by clicking "Edit". <br>Be sure to indicate whether your net worth is positive or negative (meaning that you're in debt). <br>The actual number that you put must be positive.</div>
    </div>
    
    <!-- Adding transaction categories -->
    <div class="bg-light p-4 rounded shadow-sm mt-4">
        <h2 style="margin-bottom: 20px;">Transaction Categories</h2>
        <div id="categories">
            <h5 style="margin-bottom: 30px;">These are the categories for your transactions, useful for identifying trends.</h5>

            <!-- using category_item.html with parameters -->
            <div class="row justify-content-center">
                {% include 'main/category_item.html' with clean_transaction_type="Income Source" var_transation_type="income_source" category_examples="work, allowance, etc." placeholder="Walmart Paycheck" iterable=income_categories  %}
                {% include 'main/category_item.html' with clean_transaction_type="Expense" var_transation_type="expense" category_examples="food, hobbies, etc." placeholder="Video Games" iterable=expense_categories %}
            </div>
            <p style="font-size: 18px; margin-top: 20px;">Category names must be unique within their transaction type and<br>may not exceed 25 characters or contain special symbols.</p>

        </div>
    </div>

    <!-- adding transactions -->
    <div class="bg-light p-4 rounded shadow-sm mt-4">
        <h1>Add Transaction</h1>
        <form method="post" id="transaction-form" class="container">
            {% csrf_token %}

            <!-- income or expense-->
            <div class="row justify-content-center align-items-center g-4">
                <div class="col-md-4">
                    <div class="d-flex justify-content-between">
                        <div class="form-check me-4">
                            <input type="radio" id="income_source" name="transaction_type" value="income_source" onclick="toggleCategoryDivs()" required class="form-check-input" checked>
                            <label for="income_source" class="form-check-label fs-5">Income</label>
                        </div>
                        <div class="form-check ms-4">
                            <input type="radio" id="expense" name="transaction_type" value="expense" onclick="toggleCategoryDivs()" required class="form-check-input">
                            <label for="expense" class="form-check-label fs-5">Expense</label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- everything else, with a div so that it can be hidden-->
            <div id="addTransactionSettings">
                <div class="row justify-content-center g-4">
                    <!-- income and expense categories. Both are hidden at first, and will be shown based on the radio for income/expense-->
                    <div class="col-md-4" id="add_transaction_income_categories" style="display: none;">
                        <label for="income_category" class="form-label">Income Category</label>
                        <select id="income_category" name="income_category" class="form-select" required>
                            <option value="" disabled selected>Select Category</option>
                            {% for category in income_categories %}
                                <option value="{{category.category_name}}">{{category.category_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4" id="add_transaction_expense_categories" style="display: none;">
                        <label for="expense_category" class="form-label">Expense Category</label>
                        <select id="expense_category" name="expense_category" class="form-select" required>
                            <option value="" disabled selected>Select Category</option>
                            {% for category in expense_categories %}
                                <option value="{{category.category_name}}">{{category.category_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                    <!-- the rest of the info (name, amount, date)-->
                    <div class="row justify-content-center g-3">
                        <div class="col-md-3">
                            <label for="transaction-name" class="form-label">Name</label>
                            <input type="text" id="transaction-name" name="transaction_name" class="form-control" placeholder="e.g. New Computer" required maxlength="50" pattern="^[A-Za-z0-9 ]*$">
                        </div>
                        <div class="col-md-3">
                            <label for="transaction-date" class="form-label">Date</label>
                            <input type="date" id="transaction-date" name="transaction_date" class="form-control" min="1900-01-01" max="2100-12-31" required>
                        </div>
                        <div class="col-md-3">
                            <!-- a text instead of a number is that is required for input validation to behave-->
                            <label for="transaction-amount" class="form-label">Amount</label>
                            <input type="text" id="transaction-amount" name="transaction_amount" class="form-control" placeholder="e.g., 1000" step="0.01" min="0" oninput=validatePositiveNumber(this) required>
                        </div>
                    </div>
                    
                    <!-- This is from the django view (updated dynamically), and needed to add categories later on with edit transaction-->
                    <input type="hidden" id="hidden-income-categories" name="hidden_income_categories" value="{{income_category_names}}">
                    <input type="hidden" id="hidden-expense-categories" name="hidden_expense_categories" value="{{expense_category_names}}">

                    <!-- Add -->
                    <div class="row justify-content-center m-3">
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary w-100">Add</button>
                        </div>
                    </div>
                <p style="font-size: 18px; margin-top: 20px;">Transaction names may not exceed 50 characters or contain special symbols.<br>Amounts must be positive.</p>
            </div>

            <!-- text that appears when there is nothing -->
            <h3 id="noIncomeCategoriesAddTransaction" style="display: none;">Add some income categories above before making transactions</h3>
            <h3 id="noExpenseCategoriesAddTransaction" style="display: none;">Add some expense categories above before making transactions</h3>
        </form>

    </div>
    
    
<!-- View Transactions/summaries -->
<!-- Split Layout: 25% for filtering - 75% for viewing-->
<div class="row mt-3">
    <!-- Filtering n (25%) -->
    <div class="col-md-3">
        <div class="bg-light p-4 rounded shadow-sm">
            <h2>Filter transactions</h2>
            <!-- include initial balance-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="includeInitialBalance" id="include-initial-balance" value="include-initial-balance" checked>
                <label class="form-check-label" for="include-initial-balance">Include Initial Balance</label>
            </div>
            <!-- Transaction Type (both, one, neither) -->
            <div>
                <strong>Transaction Type</strong>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="transactionTypeFilter" id="income_source-filter" value="income_source-filter" checked>
                    <label class="form-check-label" for="income_source-filter">Income</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="transactionTypeFilter" id="expense-filter" value="expense-filter" checked>
                    <label class="form-check-label" for="expense-filter">Expense</label>
                </div>
            </div>

            <!-- all the categories -->
            <div>
                <strong style="display: block;">Categories (Income Source)</strong>
                <div id="income-categories-filter">
                    <div class="form-check mt-2" style="display:none;" id="no-category-income_source-filter-div">
                        <input class="form-check-input income_source-category-filter" type="checkbox" name="categoryFilter" id="No Category-income_source-filter" value="No Category-income_source-filter" checked>
                        <!-- The no category filter, needed as no category isn't an acutaly category. Dynamically added as needed-->
                        <label class="form-check-label" for="No Category-income_source-filter">No Category</label>
                    </div>
                    {% for category in income_categories %}
                        <div class="form-check mt-2">
                            <input class="form-check-input income_source-category-filter" type="checkbox" name="categoryFilter" id="{{category.category_name}}-income_source-filter" value="{{category.category_name}}-income_source-filter" checked>
                            <label class="form-check-label" for="{{category.category_name}}-income_source-filter">{{category.category_name}}</label>
                        </div>
                    {% endfor %}
                </div>    
            
                <strong>Categories (Expense)</strong>
                <div id="expense-categories-filter">
                    <div class="form-check mt-2" style="display:none;" id="no-category-expense-filter-div">
                        <input class="form-check-input expense-category-filter" type="checkbox" name="categoryFilter" id="No Category-expense-filter" value="No Category-expense-filter" checked>
                        <!-- The no category filter, needed as no category isn't an acutaly category. Dynamically added as needed-->
                        <label class="form-check-label" for="No Category-expense-filter">No Category</label>
                    </div>
                    {% for category in expense_categories %}
                        <div class="form-check mt-2">
                            <input class="form-check-input expense-category-filter" type="checkbox" name="categoryFilter" id="{{category.category_name}}-expense-filter" value="{{category.category_name}}-expense-filter" checked>
                            <label class="form-check-label" for="{{category.category_name}}-expense-filter">{{category.category_name}}</label>
                        </div>
                    {% endfor %}

                </div>
            </div>
            
            <!-- filter by date-->
            <div style="margin-top: 20px;">
                <label>
                    <input type="checkbox" id="date-filter-checkbox">
                    <p style="display: inline;">
                        Filter by Date
                    </p>
                </label>
            </div>
            <div>
                <label for="start-date">Start Date:</label>
                <input type="date" id="start-date" name="start-date">
            </div>
            <div>
                <label for="end-date">End Date:</label>
                <input type="date" id="end-date" name="end-date">
            </div>       
            
            <!-- input validation - right below the inputs -->
            <label id="date-filter-error-1" class="text-danger" style="display: none;">
                Please enter valid dates
            </label>
            <label id="date-filter-error-2" class="text-danger" style="display: none;">
                End date must be later than or equal to Start date
            </label>
            
            <!-- Price filter -->
            <div style="margin-top: 20px;">
                <label>
                    <input type="checkbox" id="price-filter-checkbox">
                    <p style="display: inline;">
                        Filter by Price
                    </p>
                </label>
            </div>
            <div>
                <label for="low-price">Low Price:</label>
                <input type="text" id="low-price" name="low-price" oninput=validatePositiveNumber(this) >
            </div>
            <div>
                <label for="high-price">High Price:</label>
                <input type="text" id="high-price" name="high-price" oninput=validatePositiveNumber(this) >
            </div>
            <!-- Input Validation -->
            <label id="price-filter-error-1" class="text-danger" style="display: none;">
                Please enter valid, positive numbers
            </label>
            <label id="price-filter-error-2" class="text-danger" style="display: none;">
                High Price must be greater than or equal to Low Price
            </label>

            <!--Sorting-->
            <strong style="display: block;">Sort</strong>

            <!-- default - byDateML (Date Most Least)-->
            <div class="form-check mt-2">
                <input class="form-check-input byDateML" type="radio" name="transactionSort" id="byDateML" value="byDateML" checked>
                <label class="form-check-label" for="byDateML">By Date (most to least recent)</label>
            </div>

            <!-- byDateLM - date least to most -->
            <div class="form-check mt-2">
                <input class="form-check-input byDateLM" type="radio" name="transactionSort" id="byDateLM" value="byDateLM">
                <label class="form-check-label" for="byDateLM">By Date (least to most recent)</label>
            </div>

            <!-- byNameAZ - alphabetical -->
            <div class="form-check mt-2">
                <input class="form-check-input byNameAZ" type="radio" name="transactionSort" id="byNameAZ" value="byNameAZ">
                <label class="form-check-label" for="byNameAZ">By Transaction Name (A-Z)</label>
            </div>

            <!-- byNameZA - reverse-alphabetical -->
            <div class="form-check mt-2">
                <input class="form-check-input byNameZA" type="radio" name="transactionSort" id="byNameZA" value="byNameZA">
                <label class="form-check-label" for="byNameZA">By Transaction Name (Z-A)</label>
            </div>

            <!-- byAmountLH - Amount Low to High -->
            <div class="form-check mt-2">
                <input class="form-check-input byAmountLH" type="radio" name="transactionSort" id="byAmountLH" value="byAmountLH">
                <label class="form-check-label" for="byAmountLH">By Amount (low to high)</label>
            </div>

            <!-- byAmountHL - Amount High to Low -->
            <div class="form-check mt-2">
                <input class="form-check-input byAmountHL" type="radio" name="transactionSort" id="byAmountHL" value="byAmountHL">
                <label class="form-check-label" for="byAmountHL">By Amount (high to low)</label>
            </div>
            
            <!-- Reset to default -->
            <button id="reset-all-button" class="btn btn-danger mt-3" onclick="resetFilters()">Reset All</button>
        </div>
    </div>
    
    <!-- Acutal transactions/summaries 75% Right -->

    <div class="col-md-9 bg-light p-4 rounded shadow-sm">
        <button class="btn btn-primary btn-sm me-2" id="toggle-view-all">View All Transactions</button>
        <button class="btn btn-secondary btn-sm" id="toggle-view-summaries">View Summaries</button>
        <!-- Transactions -->
        <div id="view-all-transactions" style="display: block;">

            <!-- Search Feature -->
            <div style="margin-bottom: 15px;">
                <label for="transaction-search">Search Transactions:</label>
                <input type="text" id="transaction-search" class="form-control" placeholder="Search transactions by name">
            </div>
            
            <h2>View Transactions</h2>
            <h3>Current Balance: $<span id="current-balance" class="current-balance"></span></h3>
            <h6>The above balance will be based on filters</h6>
            <h6 style="margin-bottom: 20px;">Click Reset All under the filters to reset the filters and restore the current balance</h6>
            
            <h6 id="initialBalanceDisplayInTransactions">The Initial Balance was ${{initial_balance|format_money}}. </h6>
            <h6 style="margin-bottom: 30px;">Selecting the "Include Initial Balance" filter will include this into the current balance.</h6>

            <!-- updated dynamically with the js to display this-->
            <h2 id="noTransactionsText" style="display: none;">No Transactions found. Please add some or change your filters</h2>

            <table id="transactionsTable">
                <!-- headers for the table -->
                <thead>
                    <tr>
                        <th style="width: 0; padding: 0; border: none;"></th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Amount ($)</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <!-- the actual transaction -->
                <tbody>
                    {% for transaction in all_transactions %}
                        <tr class="{% if transaction.transaction_type == 'income_source' %}green{% else %}red{% endif %}" id="transaction-id-{{ transaction.id }}" name="transactions">
                            <td>
                                <label hidden>{{transaction.transaction_type}}</label>
                            </td>
                            <td>
                                <!-- view-mode is what the user usually sees, edit mode it what they see when editing the transaction -->

                                {% if transaction.transaction_category.category_name %}
                                    <span class="view-mode">{{ transaction.transaction_category.category_name}}</span>
                                {% else %}  <!-- If the category was deleted -->
                                    <span class="view-mode" id="noCategoryEditTransaction-{{transaction.id}}">No Category</span>
                                {% endif %}

                                <!-- have both income and expense categories for everything, but only include one of them-->
                                <select class="edit-mode-category-dropdown form-select" name="income-categories-for-edit-transaction" style="display:none;">
                                    {% for category in income_categories %}
                                        <option value="{{ category.category_name }}" {% if transaction.transaction_category and transaction.transaction_category.category_name == category.category_name %}selected{% endif %}>
                                            {{ category.category_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <select class="edit-mode-category-dropdown form-select" name="expense-categories-for-edit-transaction" style="display:none;">
                                    {% for category in expense_categories %}
                                        <option value="{{ category.category_name }}" {% if transaction.transaction_category and transaction.transaction_category.category_name == category.category_name %}selected{% endif %}>
                                            {{ category.category_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <!-- date, amount, and name-->
                            <td>
                                <span class="view-mode">{{ transaction.transaction_date }}</span>
                                <input type="date" class="edit-mode form-control" name="date" value="{{ transaction.transaction_date|date:'Y-m-d' }}" style="display:none;" required>
                            </td>
                            <td>
                                <span class="view-mode">{{ transaction.transaction_name }}</span>
                                <input type="text" class="edit-mode form-control" name="name" value="{{ transaction.transaction_name }}" style="display:none; padding: 5px;" maxlength="50" required pattern="^[A-Za-z0-9 ]*$">
                            </td>
                            <td>
                                <span class="view-mode">${{ transaction.transaction_amount|format_money }}</span>
                                <input type="text" step="0.01" class="edit-mode form-control" name="amount" value="{{ transaction.transaction_amount }}" style="display:none; padding: 5px;" required id="amount" oninput="validatePositiveNumber(this)">
                            </td>
                            <td>
                                <!-- first two are shown by default, the next two aren't -->
                                <button type="button" class="btn btn-primary btn-sm edit-btn" onclick="toggleEditTransactionMode('{{ transaction.id }}', '{{ transaction.transaction_type }}')">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm delete-btn" onclick="deleteTransaction('{{ transaction.id }}')">Delete</button>
                                <button type="button" class="btn btn-success btn-sm save-btn" onclick="saveTransaction('{{ transaction.id }}', '{{ transaction.transaction_type }}')" style="display:none;">Save</button>
                                <button type="button" class="btn btn-secondary btn-sm cancel-btn" onclick="cancelEditTransaction('{{ transaction.id }}')" style="display:none;">Cancel</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Summaries -->
        <div id="view-summaries" style="display: none;">
            <h2>View Summaries</h2>

            <!-- scope of summary (weekly, monthly, annually, custom)-->
            <h4>Type</h4>
            <form class="d-flex gap-3" style="justify-content: center;">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="summaryType" id="weekly" value="weekly" checked>
                    <label class="form-check-label" for="weekly">Weekly</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="summaryType" id="monthly" value="monthly">
                    <label class="form-check-label" for="monthly">Monthly</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="summaryType" id="annually" value="annually">
                    <label class="form-check-label" for="annually">Annually</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="summaryType" id="custom" value="custom">
                    <label class="form-check-label" for="custom">Custom</label>
                </div>
            </form>
            <div id="custom-options" style="display: none; flex-direction: column; align-items: center; text-align: center; margin-top: 20px;">
                <div style="display: flex; align-items: center;">
                    <label for="custom-value" style="margin-right: 10px;">Enter Summary Size:</label>
                    <input type="number" id="custom-value" min="1" placeholder="Enter number" style="margin-right: 10px;">
                    
                    <select id="custom-unit" style="margin-right: 10px;">
                        <option value="day">Days</option>
                        <option value="month">Months</option>
                        <option value="year">Years</option>
                    </select>
                </div>
                <div style="display: flex; align-items: center;">
                    <label for="custom-date" style="margin-right: 10px;">Enter Reference Date:</label>
                    <input type="date" id="custom-date">
                </div>  
                
                <h6>The reference date is when values would start. For example, a date of Sunday 2/16/2025 with a 14 day cycle would have one cycle be 2/16 to 3/1 and another be 2/2 to 2/15 (Dates before the reference date work fine). Months and Years will always start at the earliest date (ex. 1/1/2025)</h6>
            </div>
            
            <h5 style="margin-top: 20px;">Combine these with the filtering/sorting on the left to form whatever you need</h5>
            <h5>Intervals with no transactions are excluded</h5>

            <!-- when there are no summaries, this will be found-->
            <h2 id="noSummariesText" style="display: none;">No Summaries Found. Please change your summary settings, add some transations, or change your filters</h2>

            <table id="summariesTable">
                <!-- headers -->
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Net Amount ($)</th>
                    </tr>
                </thead>

                <!-- will be dynamically added to-->
                <tbody>
                </tbody>
            </table>

        </div>
        <!-- This will only be shown if there is at least one transaction (handled in the JS)-->
        <div id="export-options" style="margin-top: 20px;">
            <button class="btn btn-warning btn-sm me-2" id="export-to-pdf">Export to PDF</button>
        </div>
        
    </div>
</div>

</div>

<!-- import js files -->
{% block scripts %}
    <script src="{% static 'js/addCategoriesFunctions.js' %}"></script>
    <script src="{% static 'js/modifyCategoriesFunctions.js' %}"></script>
    <script src="{% static 'js/addTransactionsFunctions.js' %}"></script>
    <script src="{% static 'js/modifyTransactionsFunctions.js' %}"></script>
    <script src="{% static 'js/showConfirmationModal.js' %}"></script>
    <script src="{% static 'js/formatFunctions.js' %}"></script>
    <script src="{% static 'js/dateFunctions.js' %}"></script>
    <script src="{% static 'js/updateCurrentBalance.js' %}"></script>
    <script src="{% static 'js/filterTransactionsFunctions.js' %}"></script>
    <script src="{% static 'js/searchTransactions.js' %}"></script>
    <script src="{% static 'js/sortTransactions.js' %}"></script>
    <script src="{% static 'js/getCSRFToken.js' %}"></script>
    <script src="{% static 'js/getAllItemsFunctions.js' %}"></script>
    <script src="{% static 'js/createSummariesFunctions.js' %}"></script>
    <script src="{% static 'js/outputReportsFunctions.js' %}"></script>
    <script src="{% static 'js/initialBalanceFunctions.js' %}"></script>
    <script src="{% static 'js/toggleInstructionsDiv.js' %}"></script>
{% endblock %}

{% include 'main/modal_confirmation.html' %}

<script>
    window.onload = function() {
        autofillDate(); 
        filterTransactions(false); // filter transactions and show the current balance
        sortTransactions(); 
        toggleCategoryDivs();  // could also show No Category
    };
    
</script>

{% endblock %}
