{% extends 'main/base.html' %}

{% block title %}
Help Menu
{% endblock %}

{% block content %}
<div class="bg-light p-4 rounded shadow-sm">
    <h1 style="text-align: center;">Help Menu</h1>

    
</div>

<style>

    .sectionHeaders {
        margin-top: 20px; /* Add your desired margin-top here */
    }


    .accordion-body {
    border-bottom: 1px solid black; /* Adds a thin black border only on the bottom */
    padding: 10px; /* Optional: Add padding to create space between the content and the border */
}
</style>

{% endblock %}

