h1, h2, h3, h4, h5, h6, p {
    text-align: center; /* Center most of the text */
}

h5, h6 {  /* Bolded by default, but we want it normal */
    font-weight: normal;
}

/* Displaying errors wil making categories */
.error-text {
  color: red;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  width: 100%;
}


.category-container {
    height: 168px;
    max-height: 168px; 
    overflow-y: auto; 
}

/* Allow for the animation for a new category */
.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: fadeIn 3s;
}

/* Add an animation for the current balance when the screen first loads*/
.current-balance {
    animation: fadeIn 3s;
}

/* define the animation */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .container {
        padding: 10px;
    }
    
    .card {
        padding: 15px;
    }
}

.list-group-item.fadeOut {
    animation: fadeOut 3s forwards; /* Fade out when class 'fadeOut' is added */
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* Change the background when a category is hoevered over*/
.list-group-item:hover {
    background-color: #f0f0f0;
}

.alert {
    margin-top: 20px;
}

/* Display buttons next to each other*/
.btn-group {
    display: inline-block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    margin: 0 auto;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 16px;
}

th {
    cursor: pointer;
    background-color: #f4f4f4;
    font-weight: bold;
}

/* change the color when hovered over */ 
th:hover {
    background-color: #ddd;
}

/* Hover effect on rows */
tr:hover {
    background-color: #f1f1f1;
}

/* The next for are for the classes of incomes and expenses in transactions/summaries */
.green {
    background-color: #d4edda;  /* Light green background */
}

.green:hover {
    background-color: #9fd5b0;  /* Darker green on hover */
}

.red {
    background-color: #f8d7da;  /* Light red background */
}

.red:hover {
    background-color: #f1a7ac;  /* Darker red on hover */
}