h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}



.larger-font {
    font-size: 1.25rem; /* Adjust the size as needed */
}


.error-text {
  color: red;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  width: 100%;
}

.error-icon {
  margin-right: 5px;
}

.category-container {
    height: 168px;
    max-height: 168px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}
h5, h6 { 
    font-weight: normal;
}
.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: fadeIn 3s;
}

.current-balance {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .container {
        padding: 10px;
    }
    
    .card {
        padding: 15px;
    }
}

.list-group-item.fadeOut {
    animation: fadeOut 3s forwards; /* Fade out when class 'fadeOut' is added */
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.list-group-item:hover {
    background-color: #f0f0f0;
}

.alert {
    margin-top: 20px;
}

.btn-group {
    display: inline-block;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 16px;
}

th {
    cursor: pointer;
    background-color: #f4f4f4;
    font-weight: bold;
}

th:hover {
    background-color: #ddd;
}

.sort-arrow {
    margin-left: 8px;
    font-size: 1em;
}

/* Hover effect on rows */
tr:hover {
    background-color: #f1f1f1;
}

/* Center table headers and content */
table {
    margin: 0 auto;
}
.green {
    background-color: #d4edda;  /* Light green background */
}

.green:hover {
    background-color: #9fd5b0;  /* Darker green on hover */
}

.red {
    background-color: #f8d7da;  /* Light red background */
}

.red:hover {
    background-color: #f1a7ac;  /* Darker red on hover */
}